<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Cabinet</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Welcome, <span th:text="${username}">[Имя]</span>!</h1>
        <nav>
            <ul>
                <li><a href="main-page.html">Main</a></li>
                <li><a href="/courses">My Courses</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
    </header>

    <section class="courses-section">
        <h2>Your Courses</h2>
        <div class="course-list">
            <p>Course 1</p>
            <p>Course 2</p>
            <p>Course 3</p>
            </div>
    </section>
</div>
</body>
</html>


